@model ebook_website.Models.Utilisateur

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_MyDefaultPage.cshtml";
}

<br />
<br />
<h2 align="center" style="font-family:'Segoe MDL2 Assets'">Changer votre mot de passe :</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <b>Ancien mot de passe : </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-50" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <b>Nouveau mot de passe : </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-50" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <b>Confirmer le nouveau mot de passe :</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmePass, new { htmlAttributes = new { @class = "form-control w-50 " } })
                @Html.ValidationMessageFor(model => model.confirmePass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn bg-warning" style="border:solid 2px black" />
            </div>
        </div>
    </div>
}

